.wrapper {
  padding: var(--container-padding);
}

.title {
  margin: 0;
}

/* .tagline {
  font-family: var(--font-display);
  font-weight: 500;
  font-size: var(--font-size-2);
}

.description {
  color: var(--color-base-light);
  font-size: var(--font-size-0);
  font-style: italic;
  line-height: var(--line-height-tight);
  margin: 0;
}

.divider {
  background: none;
  height: 0px;
  margin: var(--spacing-2) 12.5%;
  border: 0;
  border-top: 1px solid var(--color-base-lightest);
  position: relative;
  z-index: -1;
}

.divider::after {
  --diamond-size: 5px;
  --diamond-offset: -8px;

  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  display: block;
  width: var(--diamond-size);
  height: var(--diamond-size);
  border: var(--diamond-size) solid white;
  background: var(--color-base-lightest);
  margin-left: var(--diamond-offset);
  margin-top: var(--diamond-offset);
  transform: rotate(45deg);
} */

/* @media (min-width: 1000px) {
  .wrapper {
    position: fixed;
    left: 0;
    top: 0;
    width: 280px;
  }
} */

.skipNav {
  position: absolute;
}

.skipNav:not(:focus) {
  border: 0px none;
  clip: rect(0px, 0px, 0px, 0px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0px;
  width: 1px;
  white-space: nowrap;
  overflow-wrap: normal;
}

.skipNav:focus {
  left: 8px;
  top: 8px;
  padding: 8px;
  background: var(--color-accent-light);
  z-index: 1000;
  outline-offset: 0;
}
