.skipNav {
  position: absolute;
}

.skipNav:not(:focus) {
  border: 0px none;
  clip: rect(0px, 0px, 0px, 0px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0px;
  width: 1px;
  white-space: nowrap;
  overflow-wrap: normal;
}

.skipNav:focus {
  left: 8px;
  top: 8px;
  padding: 8px;
  background: #fffbeb;
  z-index: 1000;
  outline-offset: 0;
}
