.wrapper {
  padding: var(--container-padding);
}

.title {
  margin: 0;
  width: 184px;
  position: relative;
  z-index: 10;
}

.homeLink {
  display: block;
  line-height: 0;
}

.nav {
  font-family: var(--font-display);
  font-size: var(--font-size-3);
  font-weight: var(--font-display-weight);
}

.nav li {
  width: 100%;
}

.nav a {
  text-decoration: none;
}

.skipNav {
  position: absolute;
}

.skipNav:not(:focus) {
  border: 0px none;
  clip: rect(0px, 0px, 0px, 0px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0px;
  width: 1px;
  white-space: nowrap;
  overflow-wrap: normal;
}

.skipNav:focus {
  left: var(--spacing-2);
  top: var(--spacing-2);
  padding: var(--spacing-2);
  background: var(--color-bg);
  z-index: 1000;
  outline-offset: 0 !important;
}

.menuLabel {
  display: flex;
  justify-content: space-between;
  font-family: var(--font-display);
  font-size: var(--font-size-0);
  padding: var(--spacing-1) 2px 0 2px;
  line-height: 1;
}

.trigger {
  position: absolute;
  right: var(--spacing-2);
  top: var(--spacing-2);
  z-index: 10;
  display: block;
  height: 48px;
  width: 48px;
  padding: var(--spacing-1);
  border: 0;
  background: none;
}

:global(.kb-active) .trigger:focus {
  outline: 2px solid var(--color-base);
}

.hamburger {
  --border-offset: 2px;

  position: relative;
}

.hamburger,
.hamburger::after,
.hamburger::before {
  display: block;
  width: 100%;
  height: 0;
  border-top: var(--border-offset) solid var(--color-base);
  transition: transform 300ms, width 300ms;
}

.hamburger::after,
.hamburger::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
}

.hamburger::before {
  transform:
    translate3d(0, -7px, 0);
}

.hamburger::after {
  transform:
    translate3d(0, 3px, 0);
}

.open {
  --transform-scale: 0.666;
}

.open .hamburger {
  width: 70%;
  transform: translateX(4px) rotate(-45deg);
}
.open .hamburger::before {
  transform:  translate3d(0, calc(-1 * var(--border-offset)), 0);
}

.open .hamburger::after {
  transform:
    rotate(90deg)
    translate3d(calc(-1 * var(--border-offset)), 0, 0);
}

.menuEnter {
  opacity: 0;
  transform: scale(0.9);
}

.menuEnterActive {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}

.menuExit {
  opacity: 1;
}

.menuExitActive {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

.scroller,
.overlay {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
}

.scroller {
  overflow: auto;
  z-index: 5;
  padding: var(--container-padding);
  padding-top: 128px;
}

.overlay {
  background: var(--color-bg);
  z-index: -1;
}
