.wrapper {
  font-size: inherit;
  margin: var(--container-offset-x);
}

.list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  display: inline-block;
  width: 100%;
  line-height: 48px;
  padding: var(--container-padding-x);
  white-space: nowrap;
}

.link:focus {
  outline-offset: -2px !important;
}
