.wrapper {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  display: block;
  padding: 0 var(--spacing-2);
  line-height: 48px;
  font-size: var(--font-size-3);
  text-align: center;
}

.link:focus {
  outline-offset: -2px !important;
}
