:root {
  --font-display: 'Imbue', 'Georgia', serif;
  --font-display-weight: 500;
  --font-normal: 'Georgia', serif;
  --font-size-0: 0.8rem;
  --font-size-1: 1rem;
  --font-size-2: 1.25rem;
  --font-size-3: 1.563rem;
  --font-size-4: 1.953rem;
  --font-size-5: 2.441rem;
  --font-size-6: 3.052rem;


  --line-height-tight: 1.333;
  --line-height-normal: 1.5;
  --line-height-loose: 1.666;

  --color-base: #384146;
  --color-base-light: #6b7479;
  --color-base-lightest: #D1DADF;
  --color-bg: #FFFFF9;

  --spacing-0: 4px;
  --spacing-1: 8px;
  --spacing-2: 16px;
  --spacing-3: 24px;
  --spacing-4: 32px;

  /*
   * derived variables ... these are built on the above and adjust at different
   * screen sizes
   */
  --container-padding: var(--spacing-2);
  --container-padding-x: 0 var(--spacing-2);
  --container-offset: calc(var(--spacing-2) * -1);
  --container-offset-x: 0 0 0 calc(var(--spacing-2) * -1);
}

@media (min-width: 640px) {
  :root {
    --container-padding: var(--spacing-3);
    --container-padding-x: 0 var(--spacing-3);
    --container-offset: calc(var(--spacing-3) * -1);
    --container-offset-x: 0 0 0 calc(var(--spacing-3) * -1);
  }

  html {
    font-size: 1.066em;
  }
}

@media (min-width: 1024px) {
  :root {
    --container-padding: var(--spacing-4);
    --container-padding-x: 0 var(--spacing-4);
    --container-offset: calc(var(--spacing-4) * -1);
    --container-offset-x: 0 0 0 calc(var(--spacing-4) * -1);
  }

  html {
    font-size: 1.2em;
  }
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-normal);
  line-height: 1;
  color: var(--color-base);
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--color-bg);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-display);
  font-weight: var(--font-display-weight);
}
