.wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.item {
  --item-padding-md: calc(var(--spacing-3) / 2);
  --item-padding-lg: calc(var(--spacing-4) / 2);

  width: 100%;
}

@media ((min-width: 640px) and (max-width < 1024px)) {
  .item {
    width: 50%;
  }

  .item:nth-child(odd) {
    padding-right: var(--item-padding-md);
  }

  .item:nth-child(even) {
    padding-left: var(--item-padding-md);
  }
}

@media (min-width: 1024px) {
  .item {
    width: 33.333%;
    padding-right: var(--item-padding-lg);
    padding-left: var(--item-padding-lg);
  }
}
