.link {
  color: var(--color-accent);
  position: relative;
}

.link:focus {
  outline: 2px solid var(--color-accent-dark);
  outline-offset: 4px;
}

.link:hover,
:global(.kb-active) .link:focus {
  color: var(--color-accent-dark);
  text-decoration: none;
}
